@use 'variables';


.about{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
    &__image{
        width: 420px;
        margin: 0 24px;
    }

    &__container{
        display: flex;
        align-items: center;
    }

    
    &__description{
        margin-right: 24px;        
    }
}