@use 'variables';

.curiosities__container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
    @media (max-width: 768px){
        width: 90%;
    }


}

.article__colors{
    text-align: center;
    
    
    p{
        text-align: left;

        strong{
            font-size: 14px;
        }

        @media (max-width: 768px){
            width: 90%;
            margin: 0 auto;
        }
    }

    img{
        width: 800px;
        margin-bottom: 42px;
        
        @media (max-width: 768px){
            width: 90%;
            margin: 0 auto;
        }
    }
}