@use 'variables';

.header{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;    
    
    &__image{
        width: 70%;        
    }

    &__title{
        font-family: Heart Breaking Bad;
        font-size: 100px;
        font-weight: normal;
        color: variables.$lettersColor;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 40px;
        }
    }

    &__nav{
        background-color: variables.$menuColor;
        border-radius: 5px; 
        margin: 0 auto;   
        
        @media (max-width: 768px){
            width: 90%;
            
        }

        &__itens{
            display: flex;            
            font-size: 36px;            
            padding: 12px;
            justify-content: center;

            @media (max-width: 768px){
                display: block;
                font-size: 20px;
            }
        }
    }

    
}

.header__nav__link{
    color: variables.$lettersColor;
    padding: 0 16px;
    transition: ease .3s;
    text-decoration: none;

    &:hover{
        color: variables.$hoverColorMenu;       
        text-decoration: underline;
    }
}

