.spin-offs__container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 768px){        
        width: 90%;
    }

    .spin-offs__itens{
        display: flex;
        
        @media (max-width: 1023px){
            display: block;
            
        }
        
    }

    p{
        width: 90%;
        padding: 16px 8px;
    }

    img{
        width: 500px;

        @media (max-width: 768px){
            width: 90%;
        }
    }

    
}