.spin-offs__container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    .spin-offs__itens{
        display: flex;
        
    }

    p{
        width: 90%;
        padding: 16px 8px;
    }

    img{
        width: 500px;
    }
}