@use 'variables';
@use 'header';
@use 'about';
@use 'caracters';


@font-face {
    font-family: Heart Breaking Bad;
    src: url(../assets/fonts/Heart\ Breaking\ Bad.otf);
    font-weight: 400;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: variables.$backgroundColor;
}


@mixin sectionTitle{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 42px;
    color: variables.$lettersColor;
    padding-bottom: 42px;
    padding-top: 42px;
    
}

@mixin descriptions{
    font-family: 'Roboto', sans-serif;    
    font-size: 14px;
    color: variables.$lettersColor; 
    font-weight: normal;   
}

.section--title{
    @include sectionTitle;
    
}

.section--descriptions{
    @include descriptions;
}




